:root {
  --color-primary: ##4592ff;
  --color-seconday: ##9900e6;
  --color-accent: #000;
  --color-headings: #000;
  --color-body: #828289;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 1.8rem;
  line-height: 1.5;
  color: var(--color-body);
}

h1,
h2,
h3 {
  color: var(--color-headings);
  margin-bottom: 1rem;
}

h1 {
  font-size: 3.6rem;
}

h2 {
  font-size: 2.8rem;
}

h3 {
  font-size: 2.4rem;
}

p {
  margin-top: 0;
}

@media screen (min-width: 1024px) {
  body {
    font-size: 2rem;
  }
  h1 {
    font-size: 7.2rem;
  }
  h2 {
    font-size: 4rem;
  }
  h3 {
    font-size: 2.4rem;
  }
}
