    <div class="feature__component">
      <header class="block__header">
        <h2>Hold On The Cloud To Keep Growing</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magnam,
          alias.
        </p>
      </header>
      <div class="body feature__grid grid grid--1x2">
        <div class="feature__grid-media-object">
          <div class="media-feature">
        <div class="media__image-feature">
        <svg class="icon icon">
        <use xlink:href="images/sprite.svg#snap"></use>
        </div>
            <div class="media__body">
              <h3 class="media__title">Easy start & Manage Updates</h3>
              <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                Voluptatum dignissimos illum a aperiam nulla praesentium quis
                dicta explicabo mollitia quod.
              </p>
              <a href="#" class="link-arrow">Learn more</a>
            </div>
          </div>
        </div>
        <div class="feature__grid-image-block">
          <img class="feature-grid-image" src="images/easy.jpg" alt="">
        </div>
      </div>
    </div>