<div class="footer-block grid grid--1x5">
  <div class="footer-column-logo">
    <img src="images/logo.png" alt="" />
  </div>
  <div class="footer-column-products">
    <ul class="list">
      <li class="list__item list__item-header">
        <a href="https://www.w3schools.com">PRODUCTS</a>
      </li>
      <li class="list__item list__item-object">Wordpress Hosting</li>
      <li class="list__item list__item-object">Free Automated</li>
      <li class="list__item list__item-object">Wordpress Hosting</li>
      <li class="list__item list__item-object">Free Automated</li>
    </ul>
  </div>
  <div class="footer-column-company">
    <ul class="list">
      <li class="list__item list__item-header">Company</li>
      <li class="list__item list__item-object">Wordpress Hosting</li>
      <li class="list__item list__item-object">Free Automated</li>
      <li class="list__item list__item-object">Wordpress Hosting</li>
      <li class="list__item list__item-object">Free Automated</li>
    </ul>
  </div>
  <div class="footer-column-support">
    <ul class="list">
      <li class="list__item list__item-header">Support</li>
      <li class="list__item list__item-object">Wordpress Hosting</li>
      <li class="list__item list__item-object">Free Automated</li>
      <li class="list__item list__item-object">Wordpress Hosting</li>
      <li class="list__item list__item-object">Free Automated</li>
    </ul>
  </div>
  <div class="footer-column-domains">
    <ul class="list">
      <li class="list__item list__item-header">Domains</li>
      <li class="list__item list__item-object">Wordpress Hosting</li>
      <li class="list__item list__item-object">Free Automated</li>
      <li class="list__item list__item-object">Wordpress Hosting</li>
      <li class="list__item list__item-object">Free Automated</li>
    </ul>
  </div>
</div>
