<div class="card testimonial">
      <div class="grid grid--1x2">
        <div class="testimonial__image">
          <img src="images/testimonial.jpg" alt="A happy customer" />
            <span class="icon-containter icon-containter--accent">
            <svg class="icon icon--white icon--small">
            <use xlink:href="images/sprite.svg#quotes"></use>
            </span>
        </div>
          <blockquote class="quote">
            <p class="qoute__text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem,
            reprehenderit?
            </p>
            <footer>
            <div class="media">
            <div class="media__image">
            <svg class="icon icon">
            <use xlink:href="images/sprite.svg#line"></use>
            </div>
            <div class="media__body">
            <h3 class="media__title">John Smith</h3>
            <p class="media__company-title">ABC COMPANY</p>
            </div>
            </div>
            </footer>
          </blockquote>
      </div>
    </div>